body {
   background-color:rgb(230, 230, 222);
}

.H{
  text-align: center;
  font-size: larger;
  font-weight: bolder;
  background-color: skyblue;
  font-family: "comic sans ms";
}

.A {
  font-weight: bold;
  font-family: "comic sans ms";
}

#Submit{background-color: green; font-weight: bold; font-family: "comic sans ms";} /* To edit the appearance of the Submit button
*/ 
#FirstName{background-color: rgb(223, 212, 212); font-weight: bold;font-family: "comic sans ms";}
