body {
  background-color:rgb(230, 230, 222);
}
/*--------------------------------------------------------------------------------*/
/*----------------------------Heading Styles-----------------------------------*/
.MH{text-align: center;
 font-size: 70px;
 font-weight: bolder;
 background-color: rgb(213, 235, 135);
 font-family: "Arial";}
.H{
 text-align: center;
 font-size: larger;
 font-weight: bolder;
 background-color: skyblue;
 font-family: "comic sans ms";
}
.sH{
  text-align: center;
  font-size: large;
  font-weight: bolder;
  background-color: rgb(135, 235, 157);
  font-family: "comic sans ms";
 }
/*--------------------------------------------------------------------------------*/
/*----------------------------Input box styles-------------------------------------*/



#Submit{background-color: green; font-weight: bold; font-family: "comic sans ms";} /* To edit the appearance of the Submit button
*/ 
#FirstName{background-color: rgb(223, 212, 212); font-weight: bold;font-family: "comic sans ms";}

.inputbox{background-color: rgb(223, 212, 212); font-weight: bold;font-family: "comic sans ms"; width: 70px;}
.inputbox:hover{background-color: rgb(241, 233, 233);}

.button_style{background-color:  rgb(109, 168, 109);; font-weight: bold; font-family: "comic sans ms";}
.button_style:hover{background-color: rgb(82, 155, 82);}

.inputboxN{background-color: rgb(223, 212, 212); font-weight: bold;font-family: "comic sans ms";}
.inputboxN:hover{background-color: rgb(241, 233, 233);}


/*--------------------------------------------------------------------------------*/
/*----------------------------Text line style--------------------------------------*/
pre{
  font-weight: bold;
  font-family: "comic sans ms";
  text-shadow: tomato;
  color: rgb(94, 35, 35);

}

.A {
  font-weight: bold;
  font-family: "comic sans ms";
 }
 .A_Y {
  font-weight: bold;
  font-family: "comic sans ms";
  background-color: rgb(231, 231, 195);
 }
 .A_B {
  font-weight: bold;
  font-family: "comic sans ms";
  background-color: rgb(172, 226, 230);
 }
 .A_R {
  font-weight: bold;
  font-family: "comic sans ms";
  background-color: rgb(236, 170, 167);
 }
 .A_G {
  font-weight: bold;
  font-family: "comic sans ms";
  background-color: rgb(167, 224, 153);
 }

/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
.R{
  font-weight: bold;
  font-family: "comic sans ms";
  text-shadow: tomato;
  color: rgb(94, 35, 35);
 
 }
 .RB{ /*Result in Blue color */
   font-weight: bold;
   font-family: "comic sans ms";
   text-shadow: tomato;
   color: rgb(87, 64, 168);
  
  }
 
  .RY{/*Result in yellow color */
   font-weight: bold;
   font-family: "comic sans ms";
   text-shadow: tomato;
   color: rgb(193, 196, 41);
  
  }
 
  .RG{/*Result in Green color */
   font-weight: bold;
   font-family: "comic sans ms";
   text-shadow: tomato;
   color: rgb(138, 165, 17);
  
  }
 
  .RR{/*Result in Red color */
   font-weight: bold;
   font-family: "comic sans ms";
   text-shadow: tomato;
   color: rgb(196, 52, 52);
  
  }

  /*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/